footer.page-footer.blue.lighten-2
    .footer-copyright
        .container
            | © 2016 Copyright Text
            a.grey-text.text-lighten-4.right(href='#!') 天展文件管理系统
script(src="/js/jquery.js")
script(src="/js/materialize.js")
