doctype html
html
    head
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1")
        include head

    body
        main
            block content
     block foot
         include ../includes/footer