
@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.eot?t=1479454803907'); /* IE9*/
  src: url('../iconfont/iconfont.eot?t=1479454803907#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/iconfont.woff?t=1479454803907') format('woff'), /* chrome, firefox */
  url('../iconfont/iconfont.ttf?t=1479454803907') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/iconfont.svg?t=1479454803907#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-orders:before { content: "\e69c"; }

.icon-zhuye:before { content: "\e601"; }

.icon-guanbi:before { content: "\e603"; }

.icon-iconfont14:before { content: "\e6ff"; }

.icon-tianjia:before { content: "\e60a"; }

.icon-fabu:before { content: "\e625"; }

.icon-icon1:before { content: "\e664"; }

.icon-user-guanli:before { content: "\e6df"; }



body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


main {
  flex: 1 0 auto;
}

nav {


  & .button-collapse{

    & i{
      font-size: 1.7rem;
      padding-left: .5rem;
    }

  }

}