@charset "utf-8";




//侧滑菜单栏宽度
.side-nav{
  width: 200px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


main {
  flex: 1 0 auto;
}

.side-nav a{
  font-size: 20px;
}

nav {


  & .button-collapse{

    & i{
      font-size: 1.7rem;
      padding-left: .5rem;
      color: #000;
    }

  }

}