main{
  background: url("../images/geometry2.png");
}

.accent-info{
  position: relative;
  color: #000;

}

nav .brand-logo{
  color: #000;
}

.menu-wrap{
  margin-top: 3rem;

  & .active{
    border: 2px #b2ebf2 solid;
  }

  & .menu-li{
    padding: 1rem;
    transition: all ease .5s;

    &:hover{
      box-shadow: none;
    }
  }

  & .menu-a{
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}

//没有登录
.no-login{
  position: fixed;
  width: 10rem;
  height: 4rem;
  top: 50%;
  margin-top: -2rem;
  left: 50%;
  margin-left: -5rem;

  & .no-txt{
    font-size: 30px;
    line-height: 4rem;
  }
}


footer.page-footer{
  margin-top: 0;
  padding-top: 0;
}

.login-wrap{
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -150px;
  width: 300px;
  z-index: 9999;
  background: #f3f3f3;

  & .login-box{
    position: relative;
  }

  & .login-close{
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;

    & i{
      line-height: 30px;
      font-size: 26px;
      display: inline-block;
      transition: all linear .3s;
    }

    &:hover i{
      transform:rotate(180deg);
    }

  }

  & .login-btn{
    text-align: center;
  }
}

.mask-wrap{
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: #000000;
  opacity: .6;
}

