.float-btn {
  position: fixed;
  right: 5%;
  bottom: 10%; }

#admin-info {
  height: 80%; }
  #admin-info .admin-wrap {
    width: 100%;
    height: 250px; }
  #admin-info .card-info {
    height: 80%;
    text-align: center; }
    #admin-info .card-info i {
      display: inline-block;
      font-size: 4rem;
      line-height: 200px;
      -webkit-transition: all linear 1s;
      transition: all linear 1s; }
      #admin-info .card-info i:hover {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg); }
  #admin-info .card-tit {
    height: 0; }
