@charset "UTF-8";
.content-wrap {
  background: #f3f3f3;
  margin-bottom: 0;
  position: absolute;
  height: 100%;
  width: 100%; }

.tool-bar {
  height: 100%;
  width: 10%;
  background: #404040; }

.top-tools {
  height: 60px;
  background: #fff; }
  .top-tools ul {
    padding: 0;
    margin: 0; }

.icon-wrap {
  height: 100%; }
  .icon-wrap .tool-icon {
    display: block;
    width: 100%;
    height: 80px;
    text-align: center;
    padding-top: 20px;
    line-height: 80px;
    color: #fff; }
    .icon-wrap .tool-icon span {
      display: inline-block;
      font-size: 40px; }

.main-wrap {
  width: 90%;
  height: 100%; }

.row .col {
  padding: 0;
  margin: 0; }

.right-wrap {
  height: 70px;
  background: #fff; }
  .right-wrap .nav-wrapper ul {
    margin: 0; }

.add-user {
  font-size: 50px;
  color: #000;
  line-height: 64px; }

.float-model {
  display: none;
  position: fixed;
  border-radius: 6px;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
  width: 400px;
  height: 400px;
  z-index: 99999;
  background: #fff; }
  .float-model .res-tit {
    position: relative;
    height: 50px;
    background: #404040;
    text-align: center; }
    .float-model .res-tit .close-btn {
      position: absolute;
      right: 5px;
      font-size: 30px;
      margin-right: 8px; }
    .float-model .res-tit span {
      font-size: 24px;
      line-height: 50px;
      color: #fff; }

#regFrom {
  margin-top: 20px; }
  #regFrom .reg-btn {
    text-align: center; }

/**---------------
       菜单页面
       v 0.0.1
------------------**/
.menu-info {
  background: #fff;
  margin: 2rem; }
  .menu-info .input-field {
    margin: 0 3rem;
    padding: 2rem 0; }
  .menu-info .text-tit {
    height: 3rem;
    margin-bottom: 2rem;
    background: #ccc; }
    .menu-info .text-tit span {
      padding: 1rem;
      line-height: 3rem;
      color: #fff; }
  .menu-info .sent-wrap {
    text-align: center;
    padding-bottom: 2rem; }
    .menu-info .sent-wrap .send-btn {
      margin-left: 1rem; }

.history-menu {
  margin: 2rem; }
  .history-menu li {
    position: relative; }
  .history-menu .delete-btn {
    display: block;
    position: absolute;
    right: -2px;
    top: -13px;
    width: 1rem;
    height: 1rem; }
    .history-menu .delete-btn i {
      font-size: 20px; }

.preview-float {
  position: fixed;
  top: 4rem;
  left: 3rem;
  width: 450px;
  height: 600px;
  background: #00b0ff; }
