.side-nav {
  width: 200px; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; }

.side-nav a {
  font-size: 20px; }

nav .button-collapse i {
  font-size: 1.7rem;
  padding-left: .5rem;
  color: #000; }
