main {
  background: url("../images/geometry2.png"); }

.accent-info {
  position: relative;
  color: #000; }

nav .brand-logo {
  color: #000; }

.menu-wrap {
  margin-top: 3rem; }
  .menu-wrap .active {
    border: 2px #b2ebf2 solid; }
  .menu-wrap .menu-li {
    padding: 1rem;
    -webkit-transition: all ease .5s;
    transition: all ease .5s; }
    .menu-wrap .menu-li:hover {
      box-shadow: none; }
  .menu-wrap .menu-a {
    display: inline-block;
    width: 100%;
    height: 100%; }

.no-login {
  position: fixed;
  width: 10rem;
  height: 4rem;
  top: 50%;
  margin-top: -2rem;
  left: 50%;
  margin-left: -5rem; }
  .no-login .no-txt {
    font-size: 30px;
    line-height: 4rem; }

footer.page-footer {
  margin-top: 0;
  padding-top: 0; }

.login-wrap {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -150px;
  width: 300px;
  z-index: 9999;
  background: #f3f3f3; }
  .login-wrap .login-box {
    position: relative; }
  .login-wrap .login-close {
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px; }
    .login-wrap .login-close i {
      line-height: 30px;
      font-size: 26px;
      display: inline-block;
      -webkit-transition: all linear .3s;
      transition: all linear .3s; }
    .login-wrap .login-close:hover i {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg); }
  .login-wrap .login-btn {
    text-align: center; }

.mask-wrap {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: #000000;
  opacity: .6; }
