body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: url("../images/restaurant.png"); }

nav .brand-logo {
  color: #000; }

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; }

footer.page-footer {
  padding-top: 0; }

.login-wrap {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -150px;
  width: 300px;
  height: 500px;
  z-index: 9999;
  background: #f3f3f3; }

.mask-wrap {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: #000000;
  opacity: .6; }
