doctype
html
    head
        title #{title}
        meta(name="viewport" content="width=device-width, initial-scale=1")
        include ../../includes/head
        link(href="/css/admin.css" rel="stylesheet")
    body
        main
            block center
                div.row.content-wrap
                    include ../../includes/tool-bar
                    div.main-wrap.col.s11
                        nav
                          div.nav-wrapper.white
                        div.admin-info.row
                            a.col.s12.m5 111
                            a.col.s12.m5 111
                            a.col.s12.m5 111
                            a.col.s12.m5 111




include ../../includes/footjs
    script(src="/js/admin.js")
