doctype
html
    head
        title #{title}
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        include ../../includes/head
        link(href="/css/admin.css" rel="stylesheet")
    body
        main
            block center
                div.row.content-wrap
                    include ../../includes/tool-bar
                    div.main-wrap.col.s10
                        div.admin-info.container
                            div.collection
                                a.collection-item(href='#!')
                                    span.badge 3
                                    | 当前用户数
                                a.collection-item(href='#!')
                                    span.new.badge 1
                                    | 最新菜单号
                                a.collection-item(href='#!')
                                    span.new.badge 1
                                    | 最新订单数
                                a.collection-item(href='#!')
                                    span.badge 2分钟
                                    | 系统运行时间

include ../../includes/footjs
    script(src="/js/admin.js")
