doctype
html
    head
        title #{title}
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        include ../../includes/head
        link(href="/css/admin.css" rel="stylesheet")
    body.user_list
        main
            block center
                div.row.content-wrap
                    include ../../includes/tool-bar
                    div.main-wrap.col.s10
                        div.menu-info.z-depth-1
                            div.text-content
                                div.text-tit
                                    span 创建菜单
                                div.input-field
                                    label(for="menu-text") 请在这里粘贴菜单,菜名之间用英文,分隔
                                    textarea#menu-text.materialize-textarea
                                div.sent-wrap
                                    a(href="#modal1").preview-btn.btn 预览菜单
                        div.history-menu
                            ul.collapsible.popout(data-collapsible='accordion')
                                each item in menu
                                    li(data-MenuNum= item.menu_num)
                                        .collapsible-header.center
                                            | #{moment(item.meta.createAt).format("YYYY-MM-DD HH:mm")}
                                        .collapsible-body
                                            p #{item.menu}
                                        div.delete-btn
                                            i.menu-delete.iconfont.icon-icon


    div#modal1.modal
        div.modal-content
            table.striped.centered.menu-list
                tbody

        div.modal-footer
            button.send-btn.btn.blue.lighten-1 发送菜单
            a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') 取消













include ../../includes/footjs
    script(src="/js/admin.js")
    script(src="/js/menu.js")
